body{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
*{
  box-sizing: border-box;
  color:#ececec;

}
.app{
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #1e1e1e;
}