/* Fullscreen background */
.login-container {
    height: 100vh;
    width: 100%;
    background-color: #0f0f0f;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Login card */
  .login-box {
    background-color: #1b1c1d;
    width: 360px;
    padding: 34px;
    border-radius: 14px;
    text-align: center;
    color: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
  }
  
  /* Logo */
  .login-logo {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
  }
  
  /* Heading */
  .login-box h2 {
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  /* Subtitle */
  .subtitle {
    color: #999;
    font-size: 14px;
    margin-bottom: 25px;
  }
  
  /* Inputs */
  .login-input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background: #2a2a2c;
    border: 1px solid #3a3a3c;
    border-radius: 10px;
    color: white;
    outline: none;
    font-size: 14px;
  }
  
  /* Login button */
  .login-btn {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    background-color: #0a84ff;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 0.2s ease;
    font-size: 15px;
  }
  
  .login-btn:hover {
    background-color: #0c95ff;
  }
  
  /* Signup text */
  .signup-text {
    margin-top: 18px;
    color: #aaa;
    font-size: 14px;
  }
  
  /* clickable link */
  .signup-link {
    color: #0a84ff;
    cursor: pointer;
    font-weight: 500;
  }
  
  .signup-link:hover {
    text-decoration: underline;
  }
  